.career1 {
  margin-top: 85px;
}
.career1 .h2-text {
  width: 618px;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
}
.career1 .paragraf {
  padding-top: 24px;
  width: 557px;
  font-size: 18px;
  color: #5b5b5b;
}
.career1 .button-1 {
  width: 180px;
  height: 54px;
  border-radius: 27px;
  outline: none;
  background-color: #f58a07;
  color: #fff;
  border: none;
  transition: 1s;
  margin-top: 24px;
}
.career1 .button-1:hover {
  box-shadow: inset 200px 0 #063255, 10px 5px #4a5d69;
}
.career1 .flex-1 {
  display: flex;
  gap: 46px;
}
@media (max-width: 1370px) {
  .career1 .flex-1 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 690px) {
  .career1 .img-1 {
    width: 100%;
    display: flex;
    margin: 0 auto;
  }
  .career1 .paragraf {
    width: 100%;
    margin: 0 auto;
  }
  .career1 .h2-text {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .career1 .h2-text {
    font-size: 40px;
  }
  .career1 .paragraf {
    font-size: 15px;
  }
}
.career1 .padding-1 {
  padding-top: 85px;
}

.cards {
  padding-bottom: 128px;
}
.cards .h2-text-2 {
  max-width: 676px;
  font-size: 48px;
  padding-top: 128px;
  padding-left: 40px;
  margin-bottom: 64px;
}
.cards .card-few {
  max-width: 400px;
  background-color: rgba(193, 228, 255, 0.3019607843);
  border-radius: 10px;
  padding: 40px;
}
.cards .card-few .p-text {
  font-size: 24px;
}
.cards .card-few .paragraf-2 {
  max-width: 184px;
  font-size: 18px;
  color: #394149;
  padding-top: 8px;
}
.cards .card-few .paragraf-3 {
  max-width: 95px;
  font-size: 18px;
  color: #f58a07;
  padding-top: 32px;
}
.cards .card-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 900px) {
  .cards .card-flex {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .cards .card-flex {
    grid-template-columns: 1fr;
  }
}