@use "../utils/mixins" as mix;
@use "../utils/variables" as var;
@use "../components/buttons" as btn;
@use "../layout/flex" as flex;

.serve {
  display: flex;
  gap: 46px;

  .serve_desc {
    margin-top: 132px;
    .serve_desc_title {
      font-family: Poppins;
      font-size: 64px;
      font-weight: 600;
      line-height: 72px;
      letter-spacing: -0.03em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 618px;
      color: #1d3444;
    }

    .serve_desc_text {
      margin-top: 24px;
      padding-right: 100px;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 510px;
      color: #5b5b5b;
    }

    .serve_desc_button {
      margin-top: 50px;
      width: 171px;
      height: 54px;
      border-radius: 27px;
      border: none;
      background: #f58a07;
      color: #ffffff;
    }
  }
}

.feature {
  margin-top: 128px;
  display: flex;
  gap: 46px;

  .feature_desc {
    margin-top: 132px;
    .feature_desc_title {
      font-family: Poppins;
      padding-right: 200px;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.03em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 410px;
      color: #0d1317;
    }

    .feature_desc_text {
      margin-top: 24px;
      padding-right: 100px;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 510px;
      color: #5b5b5b;
    }

    .feature_desc_schendule {
      color: #5b5b5b;
      margin-top: 24px;
      margin-left: 20px;
      .feature_desc_schendule_list {
        margin-top: 8px;
      }
    }
  }
}

.digital {
  margin-top: 128px;
  display: flex;
  gap: 46px;

  .digital_desc {
    margin-top: 157px;
    .digital_desc_title {
      padding-right: 320px;
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.03em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 302px;
      color: #0d1317;
    }

    .digital_desc_text {
      margin-top: 24px;
      padding-right: 100px;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 510px;
      color: #5b5b5b;
    }

    .digital_desc_schendule {
      color: #5b5b5b;
      margin-top: 24px;
      margin-left: 20px;
      .feature_desc_schendule_list {
        margin-top: 8px;
      }
    }
  }
}

.risk {
  margin-top: 128px;
  display: flex;
  gap: 46px;

  .risk_desc {
    margin-top: 157px;
    .risk_desc_title {
      padding-right: 210px;
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.03em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 383px;
      color: #0d1317;
    }

    .risk_desc_text {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 583px;
      color: #5b5b5b;
    }

    .risk_desc_schendule {
      color: #5b5b5b;
      margin-top: 24px;
      margin-left: 20px;
      .risk_desc_schendule_list {
        margin-top: 8px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
  }
}

.arti {
  margin-top: 128px;
  display: flex;
  gap: 46px;

  .arti_desc {
    margin-top: 157px;
    .arti_desc_title {
      padding-right: 150px;
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.03em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 469px;
      color: #0d1317;
    }

    .arti_desc_text {
      margin-top: 24px;
      padding-right: 100px;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 510px;
      color: #5b5b5b;
    }
  }
}

.smart {
  margin-top: 128px;
  display: flex;
  gap: 46px;

  .smart_desc {
    margin-top: 157px;
    .smart_desc_title {
      padding-right: 210px;
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.03em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 383px;
      color: #0d1317;
    }

    .smart_desc_text {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 583px;
      color: #5b5b5b;
    }

    .smart_desc_schendule {
      color: #5b5b5b;
      margin-top: 24px;
      margin-left: 20px;
      .smart_desc_schendule_list {
        margin-top: 8px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
  }
}

.dream {
  margin-top: 128px;
  display: flex;

  .dream_desc {
    margin-top: 100px;
    .dream_desc_title {
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.03em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }

    .dream_desc_text {
      padding-top: 24px;
      padding-right: 100px;
      width: 550px;
      color: #5b5b5b;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
    .dream_desc_profil {
      padding-top: 50px;
      padding-right: 400px;
      display: flex;
      width: 249px;
      gap: 20px;

      .dream_desc_profil_date {
        margin-top: 10px;

        .dream_desc_profil_date_title {
          color: #1d3444;
          font-family: Poppins;
          font-size: 24px;
          font-weight: 500;
          line-height: 41.04px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }

        .dream_desc_profil_date_text {
          color: #f58a07;
          font-family: Poppins;
          font-size: 18px;
          font-weight: 500;
          line-height: 30.78px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }
    }
  }
}
